/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700&display=swap');
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import "_null";
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1;
	font-family: 'IBM Plex Serif';
	background: #F5F5F5
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}



[class*="__container"] {
	max-width: 1145px;
	margin: 0px auto;
	padding: 0px 15px;
}


.header {
    
}
.main {
	flex: 1 1 auto;
	
} 

/* ============================================================== */


.wrapper {

	.header {
		background-color:#212122;
	
			// .header__container
	
			&__container {
				
			}
			&__body {
				background-color: #212121;
			}  
			// .header__menu
	
			&__menu {
				padding: 40px 0 60px 0;
				
			}
	
			// .header__info
	
			&__info {
			}
	}

	.menu {
	
		// .menu__list

		&__list {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			@media (max-width: 760px) {
				
			}
			
			
		}

		// .menu__item

		&__item {
			padding: 10px 10px;
			transition: all 0.2s ease 0s;
			&:hover {
				transform: scale(1.1);
			
			}
		}

		// .menu__link

		&__link {
			 
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 15px;
			letter-spacing: 1px;
			color: #F5F5F5;
			opacity: 0.7;
		}
}
.info-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 50px 0;

  &__photo {
	  margin: 0 0 40px 0;
  
  }

  // .info-header__title

  &__name {
	  margin: 0 0 30px 0;
	  font-family: 'IBM Plex Sans';
	  font-style: normal;
	  font-weight: 700;
	  font-size: 34px;
	  line-height: 25px;
	  letter-spacing: 5px;
	  color: #FFFFFF;
  }

  // .info-header__subtitle

  &__subtitle {
	  
	  font-family: 'Hind';
	  font-style: normal;
	  font-weight: 300;
	  font-size: 12px;
	  line-height: 10px;
	  letter-spacing: 2px;
	  color: #FFFFFF;
	  opacity: 0.6;
  }
}

.img {
	border-radius: 50%;
}
}




