@charset "UTF-8";
/*
&display=swap
&subset=cyrillic-ext
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "IBM Plex Serif";
  background: #F5F5F5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1145px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* ============================================================== */
.wrapper .header {
  background-color: #212122;
}
.wrapper .header__body {
  background-color: #212121;
}
.wrapper .header__menu {
  padding: 40px 0 60px 0;
}
.wrapper .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .menu__item {
  padding: 10px 10px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.wrapper .menu__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.wrapper .menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #F5F5F5;
  opacity: 0.7;
}
.wrapper .info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}
.wrapper .info-header__photo {
  margin: 0 0 40px 0;
}
.wrapper .info-header__name {
  margin: 0 0 30px 0;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 25px;
  letter-spacing: 5px;
  color: #FFFFFF;
}
.wrapper .info-header__subtitle {
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 2px;
  color: #FFFFFF;
  opacity: 0.6;
}
.wrapper .img {
  border-radius: 50%;
}
.wrapper .main__container .main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 760px) {
  .wrapper .main__container .main__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
}
.wrapper .main__container .about {
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .about__text {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.6;
}
.wrapper .main__container .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 30px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .item {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #212121;
  opacity: 0.6;
}
.wrapper .main__container .item li {
  padding: 0 0 0 30px;
}
.wrapper .main__container .item li:not(:last-child) {
  margin: 0 0 10px 0;
}
.wrapper .main__container .item__location {
  background: url("../assets/img/map.png") left 50% no-repeat;
}
.wrapper .main__container .item__mail {
  background: url("../assets/img/mail.png") left 50% no-repeat;
}
.wrapper .main__container .item__phone {
  background: url("../assets/img/phone.png") left 50% no-repeat;
}
.wrapper .main__container .item__link {
  background: url("../assets/img/link.png") no-repeat;
}
.wrapper .main__container .main__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 760px) {
  .wrapper .main__container .main__skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
}
.wrapper .main__container .skills {
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .item-skills {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.6;
}
.wrapper .main__container .item-skills li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 3px 0;
}
.wrapper .main__container .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 30px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .code__example {
  background-color: rgba(119, 119, 119, 0.171);
  max-width: 230px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.7;
}
.wrapper .main__container .main__courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 760px) {
  .wrapper .main__container .main__courses {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
}
.wrapper .main__container .courses {
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .courses__items {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.6;
}
.wrapper .main__container .item-courses li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 3px 0;
}
.wrapper .main__container .languages {
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .languages__items {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.6;
}
.wrapper .main__container .item-languages li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 3px 0;
}
.wrapper .main__container [class*=__title] {
  margin: 0 0 15px 0;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  letter-spacing: 0.2px;
  color: #212121;
}
.wrapper .main__container .main__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 70px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 760px) {
  .wrapper .main__container .main__projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
}
.wrapper .main__container .projects {
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .projects__link {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  opacity: 0.6;
}
.wrapper .main__container .educations {
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.192);
}
.wrapper .main__container .educations__text {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.6;
}
.wrapper .footer {
  background-color: #212121;
  padding: 15px 0 5px 0;
}
.wrapper .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .footer__link-dw {
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}
.wrapper .footer__text {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.2px;
  margin: 5px 30px 0 0;
  text-align: center;
  color: rgba(245, 245, 245, 0.4666666667);
}